body {
    font-family: 'Montserrat', sans-serif;
}

#miaNavbar{
    background-color: transparent !important;
    margin-right: 0;
}

#offcanvasNavbar {
    background-image: url('../images/colosseo.jpg');
    background-size: cover;
}

#spacer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
    height: 40vh;
}

#spacer img {
    opacity: 0.15;
}

#similFooter {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(255, 255, 255, 1), rgb(255, 255, 255, 0));
    padding-top: 10px;
    padding-bottom: 10px;
}

#line {
    width: 100%;
    border: 1px solid;
    margin-top: 0;
    margin-bottom: 30px;
    animation: 1.5s linear enterFromLeft;
}

#innerFooter {
    animation: 3s linear fadingFooter;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes enterFromLeft {
    from{
        width: 5%;
    }
    to {
        width: 100%;
    }
}

@keyframes fadingFooter {
    form{
        opacity: 0;
        margin-left: 0;
    }
    to{
        opacity: 1;
        margin-left: 15px;
    }
}