body {
    font-family: 'Montserrat', sans-serif;
}

#miaNavbar{
    background-color: transparent !important;
    margin-right: 0;
}

#offcanvasNavbar {
    background-image: url('../images/colosseo.jpg');
    background-size: cover;
}
/*********************************/
#spacer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
    height: 40vh;
}

#spacer img {
    opacity: 0.15;
}
/***************************************/

#footer {
    color: rgb(0, 0, 0, 0.6);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

#footer a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.6);
    transition: color .5s;
}
#footer img {
    opacity: 0.6;
    padding-right: 5px;
}
.contacts{
    display: block;
    margin: 15px 0;
}
.contacts img {
    
    width: 30px;
}
.social {
    padding-bottom: 15px;
    margin-right:50px;
    width:40px;
    transition: opacity .5s;
}

.social:hover {
    opacity:1 !important;
}

#footer a:hover{
    color: rgb(0, 0, 0, 1);
}


#line {
    width: 100%;
    border: 1px solid;
    margin-top: 0;
    margin-bottom: 30px;
    animation: 1.5s linear enterFromLeft;
}

#innerFooter {
    margin-left: 10px;
    animation: 3s linear fadingFooter;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}


@keyframes enterFromLeft {
    from{
        width: 5%;
    }
    to {
        width: 100%;
    }
}

@keyframes fadingFooter {
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}