body {
    font-family: 'Montserrat', sans-serif;
}
/******************* NAV**************************/
#miaNavbar{
    background-color: transparent !important;
}

#offcanvasNavbar {
    background-image: url('../images/bl2new.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px black;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.offcanvas-body {
    display:flex;
}

.offcanvas-title{
    color: rgb(255, 255, 255, 0.1);
    text-shadow: 0 0 2px white;
}

/****************** CAROUSEL***********************/

#carouselExampleFade img {
    height: 100vh;
    vertical-align:top;
    object-fit: cover;
    position: relative;
}

.carousel{
    position:fixed;
    width: 100%;
}

/********************FOOTER************************/

#footer {
    opacity: 0;
    background: linear-gradient(45deg, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
    color: rgb(255, 255, 255, 0.6);
    text-shadow: 0 0 4px black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    position: absolute;
    z-index: 5;
    animation: 3s ease-in enter;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

#footer a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.6);
    transition: color .5s;
}

#footer img {
    opacity: 0.6;
    padding-right: 5px;
}
.contacts{
    display: block;
    margin: 15px 0;
}
.social {
    padding-bottom: 15px;
    margin-right:50px;
    width:40px;
    transition: opacity .5s;
}

.social:hover {
    opacity:1 !important;
}

#footer a:hover{
    color: rgb(255, 255, 255, 1);
}
/********************** ANIMATIONS ****************************/
@keyframes enter {
    from {
        bottom: 20px;
        opacity: 0.05
    }
    25%{
        bottom: 0px;
        opacity: 0.3;
    }
    40%{
        bottom: 0px;
        opacity: 0.8;
    }
    65%{
        bottom: 0px;
        opacity: 1;
    }
    to {
        bottom: -315px;
        opacity: 1;
    }
}
