body {
    font-family: 'Montserrat', sans-serif;
}

#miaNavbar{
    background-color: transparent !important;
}

#offcanvasNavbar {
    background-image: url('../images/colosseo.jpg');
    background-size: cover;
}

#citazione{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 1.5rem;
    z-index: 5;
    top: 120px;
    left: 30px;
    opacity: 0;
    animation: 2s linear citazioneFade;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

#citazione p {
    font-size: 0.5rem;
    margin-right: 10px;
    align-self: flex-end;
}

#carouselExampleFade img {
    height: 100vh;
    vertical-align:top;
    object-fit: cover;
    position: relative;
}

#similFooter {
    background: linear-gradient(45deg, rgb(255, 255, 255, 1), rgb(255, 255, 255, 0));
    /*background-color: rgb(255, 255, 255, 0.4);*/
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px
    padding left 15px;
    position: absolute;
    z-index: 5;
    animation: 4s ease-in enter;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

/********************************** ANIMATIONS ***********************************************/
@keyframes enter {
    from {
        bottom: 50px;
        opacity: 0;
    }
    25%{
        bottom: 0px;
        opacity: 0.6;
    }
    75% {
        bottom: 0px;
        opacity: 1;
    }
    to {
        bottom: -285px;
        opacity: 1;
    }
}

@keyframes citazioneFade {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}