body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(0deg, rgb(255,255,255,0.7),rgb(255,255,255,0.7)), url('../images/sfondoCemento.jpg');
}
/***************NAVBAR********************/
.navbar {
    background-color: transparent !important;
    transition: background-color 0.8s;
}
.navbar-toggler{
    background-color: rgb(255,255,255,0.3);
}

#offcanvasNavbar {
    background-image: url('../images/bl2new.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px black;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.offcanvas-body {
    display:flex;
}

.offcanvas-title{
    color: rgb(255, 255, 255, 0.1);
    text-shadow: 0 0 2px white;
}
.navColored{
    background-color: white !important;
    box-shadow: 0 0 5px black;
    transition: background-color 0.8s;
}
/**************PROJECTS**********************/
.logo{
    animation: 1s linear logoFade;
    animation-fill-mode: forwards;
    transform: translate(40vw, 11vh) scale(1.5);
}
.logoAnimated{
    animation: 0.5s linear logoScroll;
    animation-fill-mode: forwards;
}

#spacer{
    min-height: 25vh;
}
.col {
    margin-bottom: 15px;
    border-radius:30px;
}
.container-lg img{
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    transition: 0.2s linear transform;
}
.container-lg img:hover{
    transform: scale(1.02);
}



/******************* FOOTER ******************/
#footer {
    background: linear-gradient(45deg, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.8));
    color: rgb(255, 255, 255, 0.8);
    text-shadow: 0 0 4px black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

#footer a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.6);
    transition: color .5s;
}

#footer img {
    opacity: 0.6;
    padding-right: 5px;
}
.contacts{
    display: block;
    margin: 15px 0;
}
.contacts img {
    
    width: 30px;
}
.social {
    padding-bottom: 15px;
    margin-right:30px;
    width:40px;
    transition: opacity .5s;
}

.social:hover {
    opacity:1 !important;
}

#footer a:hover{
    color: rgb(255, 255, 255, 1);
}

/***********ANIMATION********************/
@keyframes logoFade{
    from{
        transform: translate(40vw, 11vh) scale(1.2);
        opacity: 0.2;
       
    }
    to{
        transform: translate(40vw, 11vh) scale(1.5);
        opacity: 1;
    }
}

@keyframes logoScroll{
    from{ 
        transform: translate(40vw, 11vh) scale(1.5);
        opacity: 0.6;
    }
    to{ 
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}