body {
    font-family: 'Montserrat', sans-serif;
}
/***************NAVBAR********************/
#miaNavbar{
    background-color: transparent !important;
}

#offcanvasNavbar {
    background-image: url('../images/bl2new.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px black;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.offcanvas-body {
    display:flex;
}

.offcanvas-title{
    color: rgb(255, 255, 255, 0.1);
    text-shadow: 0 0 2px white;
}

/************************************/

}

h1 {
    margin-top: 200px;
    margin-left:50px;
}